<H1>HELLO WORLD CHAT</H1>

<div *ngIf="name">
  <h1>Hi {{name}}</h1>
<label>
  Message:
  <input type="text" [formControl]="message">
</label>

<button (click)="sendMessage()">Send Message</button>
</div>

<div *ngIf ="!name">
  <label>
    Name:
    <input type="text" [formControl]="namefc">
  </label>

  <button (click)="sendName()">Send name</button>
</div>
<p>messages</p>
<h4 *ngFor="let message of messages">
  {{message}}
</h4>
<p>Clients</p>
<h4 *ngFor="let client of clients">
  {{client}}
</h4>
