
<div>
  <div class = "row vh-100" *ngIf="chatClient" style="padding-top: 30px">

    <div class="col-md-3 col-sm-4">
      <div class="card h-100"  style="padding-right: 0px">
        <div class="card-header">
          <h5>Users online</h5>
        </div>
        <div class="card-body">
        <div *ngIf="clients$ | async as clients">
          <ul>
            <li *ngFor="let client of clients">
              {{client.nickname}}
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>


    <div class="col-md-9 col-sm-8">
      <div class="card h-100 " style="padding-left: 0px">
        <div class="card-header">
          <h5> Messages</h5>
        </div>
        <div class="card-body" >
          <p *ngFor="let chatMessage of messages">
            {{chatMessage.message.date | date:'hh:mm:ss'}} --{{chatMessage.sender.nickname}} -- {{chatMessage.message.message}}
          </p>

        </div>
        <div class="card-footer" >
          <h1 *ngIf="error">{{error}}</h1>
          <div *ngIf="chatClient">
            <label>
              Message:
              <input type="text" [formControl]="message">
            </label>

            <button style="margin-left: 5px" (click)="sendMessage()" class="btn btn-success">Send Message</button>


            <div *ngIf="typingClients$ | async as clients">
              <ul>
                <li *ngFor="let client of clients">
                  {{client.nickname}} is typing
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>



  <div class="row align-items-center justify-content-center vh-100" *ngIf="!chatClient">
    <div class="card">
      <div class="card-body">
        <div >
          <label>
            Enter Nickname:
            <input type="text" [formControl]="nickNameFc">
          </label>

          <div class="row justify-content-end " style="margin-right: 0mm">
          <button class="btn btn-success" (click)="sendNickName()">Send</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
